* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:white;
}

#main {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#head {
  width: 100vw;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid rgb(45,45,45);
}

#body {
  display: flex;
  margin-top:116px;
}

/*
Sign in box in /sign-in
*/
.cl-rootBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}