#posts {
  border: 1px solid #343434;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#inputContainer {
  width: 100%;
  border-bottom: 1px solid #343434;
  height: 90px;
  display: flex;
  align-items: center;
}

#userIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left:20px;
  margin-right: 20px;
}

#postInput {
  background-color: white;
  width: 100%;
  margin-left:10px;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  color:black;
}


#post {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #1d9bf0;
  cursor: pointer;
  margin-left:15px;
  margin-right:15px;
}

#post:hover {
  background-color: #146da9;
  transition: 0.2s;
}

#post.disabled {
  cursor: not-allowed;
  background-color: #42adf4;
  border: none;
}

#post.disabled:hover {
  background-color: #42adf4;
}

@media only screen and (max-width: 400px) {
  #postInput {
    margin-left:0px;
    font-size: 18px;
    padding-left: 10px;
    height: 45px;
  }
  #userIcon {
    margin-left:10px;
    margin-right:10px;
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 330px) {
  #userIcon {
    display: none;
  }
  #postInput {
    margin-left:10px;
  }
}