#aside {
  border-top: 1px solid #343434;
  width: 260px;
  height: 100%;
  color:white;
  background-color: black;
}

#focusHeader, #trending {
  text-decoration: underline;
  text-align: center;
  font-weight: 500;
  font-size: 23px;
  margin-top: 10px;
}

#focus {
  margin-left:10px;
  margin-top:5px;
  margin-right:10px;
  text-align: center;
}

#trendingList {
  margin-left:80px;
}

#trending {
  margin-bottom:10px;
}

#trendingList li {
  line-height: 1.4;
  font-size: 17px;
}